<div class="container">
	<notifications></notifications>

	<h1>admin</h1>

	<form novalidate name="form" class="form-inline" ng-submit="form.$valid && controller.addEvent(controller.what, controller.when, controller.where)">
		<div class="form-group">
			<label for="what">What</label>
			<input ng-model="controller.what" required ng-minlength="5" type="input" class="form-control" id="what" placeholder="Event name" />
		</div>

		<div class="form-group">
			<label for="when">When</label>
			<input ng-model="controller.when" min="2014-06-06" required type="date" class="form-control" id="when" placeholder="Event date" />
		</div>

		<div class="form-group">
			<label for="where">Where</label>
			<input ng-model="controller.where" required type="input" class="form-control" id="where" placeholder="Event location" />
		</div>

		<button type="submit" class="btn btn-primary">Add Event</button>

		<div class="form-group has-error" ng-show="form.$invalid && !form.$pristine">
			<div class="form-group">
				<label class="control-label">Please address the errors above.</label>
			</div>
		</div>
	</form>

	<h2>Events</h2>

	<div class="form-group">
		<input ng-model="search" type="search" class="form-control" id="search" placeholder="Search..." />
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>
					<a href="" ng-click="predicate='what';reverse=!reverse">What</a>
				</th>
				<th>
					<a href="" ng-click="predicate='when';reverse=!reverse">When</a>
				</th>
				<th>
					<a href="" ng-click="predicate='where';reverse=!reverse">Where</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in controller.events | orderBy:predicate:reverse | filter:search">
				<td title="{{event.id}}">
					<a href="#/events/{{event.id}}">{{event.id | truncate:8}}</a>
				</td>
				<td ng-bind="event.what"></td>
				<td ng-bind="event.when | date:'fullDate'"></td>
				<td ng-bind="event.where"></td>
			</tr>
		</tbody>
	</table>
</div>