.notification {
	padding: 10px;
	position: absolute;
}

.notification.ng-hide-add,
.notification.ng-hide-remove {
	transition:all linear 0.5s;
	display: block!important;
}

.notification.ng-hide-add.ng-hide-add-active,
.notification.ng-hide-remove {
	opacity: 0;
}

.notification.ng-hide-add,
.notification.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}